<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/thymeleaf/common/layouts/default_layout">
	
<th:block layout:fragment="contentCss">
	<link href="/static/css/community/boardList.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="contentScript">
</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="wrap">
				<div class="snbBox">
					<h3>커뮤니티</h3>
					<ul class="snb">
						<li><a href="#">채팅방</a></li>
						<li><a href="/community/boardList">게시판</a></li>
					</ul>
				</div>
				<div class="sectionMid">
					<div class="subject">
						<h2>게시판</h2>
						<div class="subjectRoot">
							<ul>
								<li><a href="/"><i class="fal fa-home"></i>&nbsp;</a></li>
								<li>&nbsp;>&nbsp;&nbsp;커뮤니티</li>
								<li>&nbsp;>&nbsp;&nbsp;게시판</li>
							</ul>
						</div>
						<div class="subjectButton">
							<ul>
								<li><a href="#"><i class="fal fa-share-alt"></i></a></li>
								<li><a href="#"><i class="fal fa-print"></i></a></li>
							</ul>
						</div>
					</div><!--메뉴 경로와 상단여기까지-->
					
					<div class="container">
						<form action= "boardWrite" method= "post" th:object= "${boardCommand}">
							<table>
								<caption>게시글 작성</caption>
								<tr>
									<th>제목</th>
									<td>
										<input type= "text" name ="boardName" placeholder= "제목을 입력해주세요" th:value = ${boardCommand.boardName}>
										<br>
										<span style="color:red; font-weight: bold;" th:if= "${#fields.hasErrors('boardName')}" th:errors= "*{boardName}"></span>
									</td>
								</tr>
								<tr>
									<th>내용</th>
									<td>
										<textarea name="boardContent" rows= "6" cols= "20" placeholder= "내용을 입력해주세요">[[${boardCommand.boardContent}]]</textarea>
										<br>
										<span style= "color: red; font-weight: bold;" th:if= "${#fields.hasErrors('boardContent')}" th:errors= "*{boardContent}"></span>
									</td>
								</tr>
								<tr>
									<td colspan= "2">
										<input type="submit" value="등록">
									</td>
								</tr>
							</table>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
</th:block>
</html>