<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/thymeleaf/common/layouts/default_layout">
	
<th:block layout:fragment="contentCss">
	<link href="/static/css/community/boardList.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="contentScript">
</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="wrap">
				<div class="snbBox">
					<h3>커뮤니티</h3>
					<ul class="snb">
						<li><a href="#">채팅방</a></li>
						<li><a href="/community/boardList">게시판</a></li>
					</ul>
				</div>
				<div class="sectionMid">
					<div class="subject">
						<h2>게시판</h2>
						<div class="subjectRoot">
							<ul>
								<li><a href="/"><i class="fal fa-home"></i>&nbsp;</a></li>
								<li>&nbsp;>&nbsp;&nbsp;커뮤니티</li>
								<li>&nbsp;>&nbsp;&nbsp;게시판</li>
							</ul>
						</div>
						<div class="subjectButton">
							<ul>
								<li><a href="#"><i class="fal fa-share-alt"></i></a></li>
								<li><a href="#"><i class="fal fa-print"></i></a></li>
							</ul>
						</div>
					</div><!--메뉴 경로와 상단여기까지-->
					
					<div class="container">
						<form action="boardModify" method= "post" th:object="${boardCommand}">
							<input type="hidden" name="memNum" th:value="${boardCommand.memNum}">
							<input type="hidden" name="boardNum" th:value="${boardCommand.boardNum}">
							<table>
								<tr>
									<th>제목</th>
									<td>
										<input type="text" name="boardName" th:value="${boardCommand.boardName}">
										<span style="color:red; font-weight: bold;" th:if="${boardNameError}">[[${boardNameError}]]</span>
									</td>
								</tr>
								<tr>
									<th>내용</th>
									<td>
										<input type="text" name="boardContent" th:value="${boardCommand.boardContent}">
										<span style="color:red; font-weight: bold;" th:if="${boardContentError}">[[${boardContentError}]]</span>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input type="submit" value="등록" th:if="${boardAuthor != null && boardAuthor == true}">
										<button type="button" onclick="window.history.back()">취소</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</th:block>
</html>