<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/thymeleaf/common/layouts/default_layout">
	
<th:block layout:fragment="contentCss">
	<link href="/static/css/community/boardList.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="contentScript">
</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="wrap">
				<div class="snbBox">
					<h3>커뮤니티</h3>
					<ul class="snb">
						<li><a href="#">채팅방</a></li>
						<li><a href="/community/boardList">게시판</a></li>
					</ul>
				</div>
				<div class="sectionMid">
					<div class="subject">
						<h2>게시판</h2>
						<div class="subjectRoot">
							<ul>
								<li><a href="#"><i class="fal fa-home"></i>&nbsp;</a></li>
								<li>&nbsp;>&nbsp;&nbsp;커뮤니티</li>
								<li>&nbsp;>&nbsp;&nbsp;게시판</li>
							</ul>
						</div>
						<div class="subjectButton">
							<ul>
								<li><a href="#"><i class="fal fa-share-alt"></i></a></li>
								<li><a href="#"><i class="fal fa-print"></i></a></li>
							</ul>
						</div>
					</div><!--메뉴 경로와 상단여기까지-->
					
					<div class="searchBox mb35">
						<form action="" method="post">
							<select class = "" id="" name="" title="">
								<option value="title">제목</option>
								<option value="contents">내용</option>
								<option value="writer">작성자</option>
							</select>
							<input type="text" name="searchWord" placeholder="검색어 입력">
							<input type="submit" value="검색">
						</form>
					</div>
					<div class="boardWrap">
						<table class="board">
							<colgroup>
								<col class="col60">
								<col>
								<col class="col70">
								<col class="col120">
							</colgroup>
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>작성자</th>									
									<th>작성일</th>									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>순환돌려야해21111111111111</td>
									<td>종욱이</td>
									<td>2024-10-13</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>