<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/thymeleaf/common/layouts/default_layout">
	
<th:block layout:fragment="contentCss">
	<link href="/static/css/community/communityHome.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="contentScript">
</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="wrap">
				<div class="snbBox">
					<h3>커뮤니티</h3>
					<ul class="snb">
						<li><a href="/community/chatHome">채팅방</a></li>
						<li><a href="/community/boardList">게시판</a></li>
					</ul>
				</div>
				<div class="sectionMid">
					<div class="subject">
						<h2>커뮤니티</h2>
						<div class="subjectRoot">
							<ul>
								<li><a href="/"><i class="fal fa-home"></i>&nbsp;</a></li>
								<li>&nbsp;>&nbsp;&nbsp;커뮤니티</li>
							</ul>
						</div>
						<div class="subjectButton">
							<ul>
								<li><a href="#"><i class="fal fa-share-alt"></i></a></li>
								<li><a href="#"><i class="fal fa-print"></i></a></li>
							</ul>
						</div>
					</div><!--메뉴 경로와 상단여기까지-->
					커뮤니티입니다.
					
					
					
					
					
					
					
					
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>