<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/thymeleaf/common/layouts/default_layout">
	
<th:block layout:fragment="contentCss">
	<link href="/static/css/account/myInfo.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="contentScript">
<script src="/static/js/message.js"></script>
</th:block>

<th:block layout:fragment="content">
	<section id="section">
		<div class="sectionTop">
			<div class="wrap">
				<div class="snbBox">
					<h3>회원정보</h3>
					<ul class="snb">
						<li><a href="/account/myTravel">내 일정</a></li>
						<li><a href="/account/myInfo">내 정보</a></li>
						<li><a href="confirmPassword?link=delete">회원탈퇴</a></li>
					</ul>
				</div>
				<div class="sectionMid">
					<div class="subject">
						<h2>내 정보</h2>
						<div class="subjectRoot">
							<ul>
								<li><a href="/"><i class="fal fa-home"></i>&nbsp;</a></li>
								<li>&nbsp;>&nbsp;&nbsp;회원정보</li>
								<li>&nbsp;>&nbsp;&nbsp;내 정보</li>
							</ul>
						</div>
						<div class="subjectButton">
							<ul>
								<li><a href="#"><i class="fal fa-share-alt"></i></a></li>
								<li><a href="#"><i class="fal fa-print"></i></a></li>
							</ul>
						</div>
					</div><!--메뉴 경로와 상단여기까지-->
					<span style="display: none;" id="message">[[${message}]]</span>
						<table class="tbl mt10">
						<caption>내 정보</caption>
							<colgroup>
								<col class="col180">
								<col>
							</colgroup>
							<tbody>
								<tr><th>회원ID</th><td>[[${memberCommand.memId}]]</td></tr>
								<tr><th>성명</th><td>[[${memberCommand.memName}]]</td></tr>
								<tr><th>생년월일</th><td>[[${#dates.format(memberCommand.memBirth, 'yyyy-MM-dd')}]]</td></tr>
								<tr><th>성별</th><td th:if="${memberCommand.memGender == 'M'}">남자</td><td th:if="${memberCommand.memGender == 'F'}">여자</td></tr>
								<tr><th>연락처</th><td>[[${memberCommand.memPhone}]]</td>
								<tr><th>이메일</th><td>[[${memberCommand.memEmail}]]</td></tr>
								<tr>
									<th rowspan="3">
										주소
									</th>
									<td>
										[[${memberCommand.memPost}]]<br>
										[[${memberCommand.memAddr}]]<br>
										[[${memberCommand.memAddrDetail}]]<br>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="choice">
							<button type="button" onclick="location.href='/'">홈으로</button>
							<button type="button" onclick="location.href='confirmPassword?link=edit'">정보 수정</button>
						</div>
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>