<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block th:fragment="configFragment">
	<link href="/static/css/reset/reset.css" rel="stylesheet">
	<link href="/static/css/layouts/header.css" rel="stylesheet">
	<link href="/static/css/layouts/footer.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/static/js/gnbFixed.js"></script>
</th:block>

</head>
<body>
</body>
</html>